<div
    style="width:600px;
        min-height: 320px;
        background: #fff ;
        padding:60px; box-sizing:
        border-box;border-radius: 8px;
        background-color: #ffffff;
        box-shadow: 0 10px 40px -10px rgba(56, 73, 107, 0.1);">
    <h2 style="font-family: Mukta; color: #273859; ">Welcome to BioMark!</h2>
    <br>
    <p style="font-family: Muli;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.75;
    letter-spacing: normal;
    text-align: left;
    color: #8493ae;">
        Gain the insights you need to start living your best life. We believe prevention is better than cure, so we’re on a mission to empower the world to take charge of their health.
        <br>
        But first, we need to make sure that this email address belongs to you.
    </p>
    <br>
    <br>

    <a href="https://app.biomarking.org/verify?u=#{@params[:data]}"><button style="width: 170px;
        height: 48px;
        text-align: center;
        border-radius: 44px;
        background-image: linear-gradient(106deg, #cc4d74, #f92969);
        box-shadow: 0 10px 40px 0 rgba(190, 60, 100, 0.3);
        font-size: 16px;
        color: #fff; 
        border: none">Click here to verify your account</button>
    </a>
</div>
