<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @params[:username] %></h1>
    <p>
      <%= link_to('Click here to reset your password',"https://app.biomarking.org/forgot?u=#{@params[:data]}") %>
    </p>
  </body>
</html>
