<!DOCTYPE html>
<html>
    <head>
        <style>
            *{
                padding: 0;
                margin:0;
            }
        </style>
        <link href="https://fonts.googleapis.com/css?family=Mukta:400,700|Muli:400,700" rel="stylesheet">
    </head>
    <body style="background:#fafbfd">
        <div style="width:600px; margin:auto;display:block; box-sizing:border-box;overflow: auto;">
            <div style="height:120px; width:600px;">
                <img style="margin-top:40px" src="https://demo.biomarking.org/images/biomark_logo.png" height="50px" alt="Biomark">
            </div>
            <div 
                style="width:600px; 
                    min-height: 320px; 
                    background: #fff ; 
                    padding:60px; box-sizing: 
                    border-box;border-radius: 8px;
                    background-color: #ffffff;
                    box-shadow: 0 10px 40px -10px rgba(56, 73, 107, 0.1);">
                <h2 style="font-family: Mukta; color: #273859; ">Welcome to BioMark!</h2>
                <br>
                <p style="font-family: Muli;
                font-size: 16px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.75;
                letter-spacing: normal;
                text-align: left;
                color: #8493ae;">
                    Gain the insights you need to start living your best life. We believe prevention is better than cure, so we’re on a mission to empower the world to take charge of their health.
                    <br>
                    But first, we need to make sure that this email address belongs to you.
                </p>
                <br>
                <br>

                <a href="http://www.google.com"><button style="width: 170px;
                    height: 48px;
                    text-align: center;
                    border-radius: 44px;
                    background-image: linear-gradient(106deg, #cc4d74, #f92969);
                    box-shadow: 0 10px 40px 0 rgba(190, 60, 100, 0.3); 
                    font-size: 16px; 
                    color: #fff; 
                    border: none">Click here to verify your account</button>
                </a>
            </div>


            <div style="min-height: 100px; width: 600px;padding-top: 50px">
                <p style="font-family: Muli;
                font-size: 12px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: center;
                color: #8493ae;">Follow us on our social media</p>
                <div style="height: 42px;width: 155px; margin: 20px auto 20px">
                    <a href="https://facebook.com" target="_blank">
                        <img src="https://demo.biomarking.org/images/fb.png" heigh="42px" width="42px" style="margin-right:10px" alt="">
                    </a>
                    <a href="https://instagram.com" target="_blank">
                        <img src="https://demo.biomarking.org/images/in.png" heigh="42px" width="42px" style="margin-right:10px" alt="">
                    </a>
                    <a href="https://linkedin.com" target="_blank">
                        <img src="https://demo.biomarking.org/images/ln.png" heigh="42px" width="42px" alt="">
                    </a>
                    
                    
                </div>
                <p style="font-family: Muli;
                font-size: 12px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: center;
                color: #8493ae;">
                        BioMark Pte. Ltd <br>
                        70 South Bridge Road (corner Hong Kong St.) #05-01 Prosperity Building Singapore, 058700</p>
                
                <p style="text-align: center;display:block;margin-top: 30px">
                    <a style="font-family: Muli;
                    font-size: 12px;
                    font-weight: bold;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    text-align: center;
                    color: #8493ae;text-decoration: none;" href="">Unsubscribe</a>
                </p>
                </div>
            
        </div>
    </body>
</html>
