<div
    style="width:600px;
        min-height: 320px;
        background: #fff ;
        padding:60px; box-sizing:
        border-box;border-radius: 8px;
        background-color: #ffffff;
        box-shadow: 0 10px 40px -10px rgba(56, 73, 107, 0.1);">
    
    <p style="font-family: Muli;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.75;
    letter-spacing: normal;
    text-align: left;
    color: #8493ae;">
        
        Here’s your 4-digit code: <code style="font-weight:bold;font-size: 24px;letter-spacing: 5px;"><%=@code%></code>
        <br>
        <br>
        If you did not request this, just ignore this message or contact us at 
        <span style="color:#be3c64">support@biomarking.com</span>
    </p>
   
</div>